/* Styles for Pong Game */

body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.canvas {
    border: 2px solid white;
    background-color: black;
}

.paddle {
    background-color: white;
    width: 10px;
    height: 100px;
}

.ball {
    background-color: white;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}